

<table class="table table-cell">
    <thead>
    <tr>
        <td> </td>
        <td><h3>Name</h3></td>
        <td><h3>Insolation</h3></td>
        <td><h3>Irrigation</h3></td>
    </tr>
    </thead>
    <tbody class="hoverTable" >
    <tr ng-repeat="herb in vm.herbs" ng-click="vm.viewHerb(herb.id)">
        <td class="herb_list_img"><img src="{{herb.image_url}}" height="100px" width="150px" alt="{{herb.name}}"/></td>
        <td><h4>{{herb.name}}</h4></td>
        <td><h4>{{herb.insolation}}</h4></td>
        <td><h4>{{herb.irrigation}}</h4></td>
    </tr>
    </tbody>
</table>
<p>{{vm.error}}</p>