<div>
<table class="table" id="herbShowMargin">
    <thead>
    <tr>
        <td> </td>
        <td id="herb_show_name"><h2>{{vm.herb.name}}</h2></td>
        <td> </td>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td><img src="{{vm.herb.image_url}}" height="300px" width="400px" alt="{{vm.herb.name}}"/></td>
        <td><h4>{{vm.herb.description}}</h4></td>
    </tr>
    </tbody>
</table>
</div>
<p>{{vm.error}}</p>