.red {
    color: 	#FF0000;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: darkgreen;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*.herb_list_img {*/
    /*horiz-align: right;*/
    /*vertical-align: middle;*/
/*}*/

/*td.herb_list_img {*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*flex-direction: column;*/
/*}*/
/* Setting content in herb-list in the middle */
/*.herb_list_content {*/
    /*display: flex;*/
   /*justify-content: space-evenly;*/
    /*flex-direction: column;*/
/*}*/
/* Setting img in herb-list on the right side */
.herb_list_img {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

/*.herb_show_img {*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*flex-direction: row;*/
/*}*/

/*#herb_show_description {*/
    /*display: inline;*/
/*}*/

#herb_show_name {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


.hoverTable tr:hover {

    background: darkgreen;
    color: white;
    font-style: italic;
}
